[project]
name = "libresvip-tauri"
version = "2.0.6"
description = ""
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "libresvip[crypto,lxml,ruamel_yaml,zstd]>=2.0.6",
    "pytauri>=0.8.0",
    "pytauri-wheel>=0.8.0",
]

[dependency-groups]
nodejs = [
    "nodejs-wheel>=24.11.1",
    "pydantic-to-typescript>=2.0.0",
]
packaging = [
    "pydeployment>=1.3.11",
    "pyinstaller>=6.17.0",
    "shellingham<2.0.0,>=1.5.4",
]

[tool.uv.build-backend]
module-name = "libresvip_tauri"
module-root = ""

[build-system]
requires = ["uv_build"]
build-backend = "uv_build"
