[project]
name = "libresvip-tauri"
version = "2.1.2"
description = ""
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "libresvip[cli,crypto,lxml,yaml12,zstd]>=2.1.2",
]

[dependency-groups]
nodejs = [
    "nodejs-wheel>=24.13.0",
    "pydantic-to-typescript>=2.0.0",
]
packaging = [
    "pydeployment>=1.3.12",
    "pyinstaller>=6.18.0",
    "shellingham<2.0.0,>=1.5.4",
]
protoc = [
    "protoc-wrapper>=33.0.0",
]

[tool.uv.build-backend]
module-name = "libresvip_tauri"
module-root = ""

[build-system]
requires = ["uv_build"]
build-backend = "uv_build"
